In [18]:
import pandas as pd 
import seaborn as sns 
import numpy as np
import datetime as datetime
import matplotlib.pyplot as plt  

%matplotlib  inline

In [19]:
df = pd.read_csv('single_family_home_values.csv') # zillow

In [20]:
df.shape

(15000, 18)

In [21]:
df.head(15)

,id,address,city,state,zipcode,latitude,longitude,bedrooms,bathrooms,rooms,squareFootage,lotSize,yearBuilt,lastSaleDate,lastSaleAmount,priorSaleDate,priorSaleAmount,estimated_value
0,39525749,8171 E 84th Ave,Denver,CO,80022,39.849160,-104.893468,3,2.0,6,1378,9968,2003.0,2009-12-17,75000,2004-05-13,165700.0,239753
1,184578398,10556 Wheeling St,Denver,CO,80022,39.888020,-104.830930,2,2.0,6,1653,6970,2004.0,2004-09-23,216935,NaN,NaN,343963
2,184430015,3190 Wadsworth Blvd,Denver,CO,80033,39.761710,-105.081070,3,1.0,0,1882,23875,1917.0,2008-04-03,330000,NaN,NaN,488840
3,155129946,3040 Wadsworth Blvd,Denver,CO,80033,39.760780,-105.081060,4,3.0,0,2400,11500,1956.0,2008-12-02,185000,2008-06-27,0.0,494073
4,245107,5615 S Eaton St,Denver,CO,80123,39.616181,-105.058812,3,4.0,8,2305,5600,1998.0,2012-07-18,308000,2011-12-29,0.0,513676
5,3523925,6535 W Sumac Ave,Denver,CO,80123,39.615136,-105.069018,3,5.0,7,2051,6045,1996.0,2006-09-12,363500,2005-05-16,339000.0,496062
6,30560679,6673 W Berry Ave,Denver,CO,80123,39.616350,-105.070760,4,4.0,8,2051,6315,1997.0,2014-12-15,420000,2006-07-07,345000.0,514953
7,39623928,5640 S Otis St,Denver,CO,80123,39.615213,-105.070617,3,3.0,7,2051,8133,1997.0,2004-03-15,328700,1998-04-09,225200.0,494321
8,148975825,5342 S Gray St,Denver,CO,80123,39.620158,-105.063094,3,3.0,7,1796,5038,1999.0,2011-08-16,274900,2011-01-10,0.0,496079
9,184623176,4967 S Wadsworth Blvd,Denver,CO,80123,39.626770,-105.081990,3,3.0,0,2054,4050,2007.0,2015-12-01,407000,2012-10-30,312000.0,424514
10,39811456,6700 W Dorado Dr # 11,Denver,CO,80123,39.614540,-105.071350,3,4.0,7,2568,6397,2000.0,2014-11-12,638000,2005-03-22,530000.0,721350
11,39591617,4956 S Perry St,Denver,CO,80123,39.628740,-105.040126,3,2.0,6,1290,9000,1962.0,2004-02-02,235000,2000-10-12,171000.0,331915
12,39577604,4776 S Gar Way,Denver,CO,80123,39.630547,-105.100242,3,4.0,6,1804,6952,1983.0,2004-07-19,247000,1999-06-07,187900.0,389415
13,153665665,8890 W Tanforan Dr,Denver,CO,80123,39.630738,-105.097718,3,3.0,6,1804,7439,1983.0,2013-08-14,249700,2000-09-07,217900.0,386694
14,39868673,5538 W Prentice Cir,Denver,CO,80123,39.620625,-105.059503,4,5.0,8,3855,9656,1998.0,2004-08-17,580000,1999-01-11,574000.0,784587

In [22]:
df['priorSaleDate'] = pd.to_datetime(df.priorSaleDate)

In [23]:
df['lastSaleDate'] = pd.to_datetime(df.lastSaleDate)

In [24]:
df['weekday_lastSaleDate'] = df.lastSaleDate.dt.weekday

In [25]:
df['weekday_priorSaleDate'] = df.priorSaleDate.dt.weekday

In [28]:
###  "day of the week" column  (which parses the date column and computes the day of the week automatically)
df['day of the week']=df.weekday_lastSaleDate-df.weekday_priorSaleDate

In [29]:
df

,id,address,city,state,zipcode,latitude,longitude,bedrooms,bathrooms,rooms,...,lotSize,yearBuilt,lastSaleDate,lastSaleAmount,priorSaleDate,priorSaleAmount,estimated_value,weekday_lastSaleDate,weekday_priorSaleDate,day of the week
0,39525749,8171 E 84th Ave,Denver,CO,80022,39.849160,-104.893468,3,2.0,6,...,9968,2003.0,2009-12-17,75000,2004-05-13,165700.0,239753,3,3.0,0.0
1,184578398,10556 Wheeling St,Denver,CO,80022,39.888020,-104.830930,2,2.0,6,...,6970,2004.0,2004-09-23,216935,NaT,NaN,343963,3,NaN,NaN
2,184430015,3190 Wadsworth Blvd,Denver,CO,80033,39.761710,-105.081070,3,1.0,0,...,23875,1917.0,2008-04-03,330000,NaT,NaN,488840,3,NaN,NaN
3,155129946,3040 Wadsworth Blvd,Denver,CO,80033,39.760780,-105.081060,4,3.0,0,...,11500,1956.0,2008-12-02,185000,2008-06-27,0.0,494073,1,4.0,3.0
4,245107,5615 S Eaton St,Denver,CO,80123,39.616181,-105.058812,3,4.0,8,...,5600,1998.0,2012-07-18,308000,2011-12-29,0.0,513676,2,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,51411356,802 S High St,Denver,CO,80209,39.701902,-104.964871,4,4.0,8,...,4950,1922.0,2000-08-24,333000,NaT,NaN,1080081,3,NaN,NaN
14996,21721153,214 S Lincoln St,Denver,CO,80209,39.712608,-104.986000,3,3.0,11,...,4500,1890.0,2015-03-05,645000,2012-07-23,557500.0,807306,3,0.0,-3.0
14997,12995320,870 S Race St,Denver,CO,80209,39.700736,-104.963707,3,5.0,7,...,4680,2007.0,2012-01-17,1115000,2008-07-15,1208214.0,1737156,1,1.0,0.0
14998,39611615,130 S Lafayette St,Denver,CO,80209,39.714088,-104.970701,3,4.0,10,...,4970,2005.0,2011-08-10,1350000,2004-12-07,405000.0,2008794,2,1.0,-1.0
14999,42961679,100 S University Blvd # 1,Denver,CO,80209,39.714399,-104.958955,3,5.0,9,...,4364,2001.0,2014-05-29,960000,2003-07-11,925000.0,1421401,3,4.0,1.0